<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Voice Controlled Notes App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/img/title.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta16/shoelace.css">
        <link rel="stylesheet" href="/static/css/stylefin.css">
 
    </head>
    <body>
        <div class="container-1">
<!--<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player id="bg1" src="https://assets7.lottiefiles.com/private_files/lf30_y84vbro5.json" background="transparent" speed="2" loop  autoplay></lottie-player>
-->
            <h1><b>Voice Based Emotion Recogniser</b></h1>
            <p class="page-description">A app that allows you to detect emotions by recording your voice</p>
            <p><a class="tz-link" href="https://github.com/mohan-782/herokuspeech.git">Check the full Project at Github</a></p>

            <h3 class="no-browser-support">Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This Demo In Google Chrome.</h3>

            <div class="app"> 
                <h1>Text Received : {{update}} <br>Emotion : {{record}}</h1>
            </div>
            <h1><a href="/index">Restart</a></h1>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/js/script.js"></script>

    </body>
</html>


